run.sh
run.bat
libraries/

banned-ips.json
banned-players.json
ops.json
usercache.json
usernamecache.json
whitelist.json

eula.txt
server.properties
user_jvm_args.txt

config/spark/tmp/
config/chunky/tasks/*
config/packetfixer.properties
modernfix/
crash-reports/
logs/
mods/
world/
